node_modules
.turbo
dist
mise.local.toml
.env

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo

node_modules
.next

# ffi
target
index.node
**/node_modules
**/.DS_Store
npm-debug.log*
cargo.log
cross.log
mise.local.toml
!.github/.env

# cipherstash
cipherstash.toml
cipherstash.secret.toml
sql/cipherstash-*.sql
.cipherstash/

notes/
